<div class="tp-container tp-centered-container" id="{{_id}}">
	<div class="tp-row tp-row_content_left">
		<div class="tp-col-8" style="margin-top: 20px">
			{{#isEdit}}
				<a href="/jobs/{{jobId}}" style="margin-top: 20px;">Назад к работе</a>
			{{/isEdit}}
			<div class="card">
				<h1>{{title}}</h1>
				<form method="post" id="projectForm" autocomplete="off">
					{{{_jobTypeRadio}}}
					{{{textField}}}
					{{{descriptionField}}}
					{{{specialitySelect}}}
					{{{inputTags}}}
					{{{budgetField}}}

					{{{citySelect}}}

					{{{levelRadioGroup}}}
					<div class="job-form__submit submit-wrap">
						{{{submitBtn}}}
						{{#isEdit}}
							<a href="/jobs/{{jobId}}" class="btn btn_secondary cancel-submit">Отмена</a>
						{{/isEdit}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
