<div class="tp-container tp-centered-container" id="{{id}}">
	<div class="tp-row card">
		<div class="tp-col-8">
			<h1>{{title}}</h1>
			<form method="post" id="projectForm" autocomplete="off">
				<input id="hireManagerId" name="hireManagerId" type="number" hidden value="0" required/>
				<input id="jobTypeId" name="jobTypeId" type="number" hidden value="{{jobTypeId}}" required/>
				{{{textField}}}
				{{{descriptionField}}}
{{!--				<div class="fieldset">--}}
{{!--					<legend>Название</legend>--}}
{{!--					{{#if isProject}}--}}
{{!--						<div>--}}
{{!--							Напишите название вашего проекта. Название должно--}}
{{!--							привлечь внимание и отразить суть проекта.--}}
{{!--						</div>--}}
{{!--						<div>--}}
{{!--							Несколько хороших примеров:--}}
{{!--							<ul>--}}
{{!--								<li>--}}
{{!--									Нужен разрабтчик для создания адаптивной--}}
{{!--									темы для WordPress--}}
{{!--								</li>--}}
{{!--								<li>Нужен дизайн нового логотипа компании</li>--}}
{{!--								<li>Ищем специалиста по по 3D моделированию</li>--}}
{{!--							</ul>--}}
{{!--						</div>--}}
{{!--					{{/if}}--}}
{{!--					<input--}}
{{!--							id="title"--}}
{{!--							name="title"--}}
{{!--							class="tp-input"--}}
{{!--							type="text"--}}
{{!--							minlength="5"--}}
{{!--							maxlength="1000"--}}
{{!--							placeholder="Кого вы ищете и какую работу нужно выполнить"--}}
{{!--							required--}}
{{!--							aria-label="Название"--}}
{{!--					/>--}}
{{!--				</div>--}}
{{!--				<div class="fieldset">--}}
{{!--					<legend class="projectForm__label">Описание проекта</legend>--}}
{{!--					<ul>--}}
{{!--						<li>--}}
{{!--							Укажите каким должен быть результат работы;--}}
{{!--							требование к результату--}}
{{!--						</li>--}}
{{!--						<li>--}}
{{!--							Каким должен быть фрилансер; требование к--}}
{{!--							исполнителю--}}
{{!--						</li>--}}
{{!--						<li>Важная информация о проекте</li>--}}
{{!--						<li>Сроки выполнения и другие условия</li>--}}
{{!--					</ul>--}}
{{!--					<textarea--}}
{{!--							id="description"--}}
{{!--							name="description"--}}
{{!--							class="tp-input"--}}
{{!--							rows="3"--}}
{{!--							minlength="50"--}}
{{!--							maxlength="5000"--}}
{{!--							placeholder="Расскажите подробно о вашем проекте"--}}
{{!--							required--}}
{{!--							aria-label="Описание проекта"--}}
{{!--					></textarea>--}}
{{!--				</div>--}}
				<div class="fieldset">
					<legend class="projectForm__label"
					>Файлы</legend
					>
					<div>
						Загрузите до 10 файлов общим объемом до 100 Мб
					</div>
					<div>
						<div>filename.jpg (300Kb) <span>Удалить</span></div>
					</div>
					<div class="projectForm__loadFiles">
						Загрузите файлы
					</div>
					<input
							type="file"
							class="tp-input"
							id="files"
							name="files"
							accept="image/png, image/jpeg"
							aria-label="Файлы"
					/>
				</div>

{{!--				<div class="fieldset">--}}
					<legend class="projectForm__label">Специализация проекта</legend>
				{{{specialitySelect}}}
{{!--					<select class="tp-input" name="category" id="category"--}}
{{!--							aria-label="Категория проекта">--}}
{{!--						<option disabled value="" selected>Выберите категорию</option>--}}
{{!--						<option value="0">Разработка игр</option>--}}
{{!--						<option value="1">Разработка сайтов</option>--}}
{{!--						<option value="2">Дизайн и арт</option>--}}
{{!--						<option value="3">Программирование</option>--}}
{{!--						<option value="4">3D Графика</option>--}}

{{!--					</select>--}}

{{!--					<select--}}
{{!--							class="tp-input"--}}
{{!--							name="specialityId"--}}
{{!--							id="specialityId"--}}
{{!--							required--}}
{{!--							aria-label="Специализация проекта"--}}
{{!--					>--}}
{{!--						<option disabled value="" selected--}}
{{!--						>Выберите специализацию--}}
{{!--						</option>--}}
{{!--						<option value="0">Разработка игр</option>--}}
{{!--						<option value="1">Разработка сайтов</option>--}}
{{!--						<option value="2">Дизайн и арт</option>--}}
{{!--						<option value="3">Программирование</option>--}}
{{!--						<option value="4">3D Графика</option>--}}
{{!--					</select>--}}
{{!--				</div>--}}
{{!--				<div class="fieldset">--}}
					<legend class="projectForm__label"
					>Требуемые навыки и компетенции</legend>
					<div>Какие навыки и опыт более важны для вас?</div>
{{!--					<div>--}}
{{!--						<span>Golang</span><span>Javascript</span--}}
{{!--					><span>HTML</span>--}}
{{!--					</div>--}}
{{!--					<input--}}
{{!--							id="skills"--}}
{{!--							name="skills"--}}
{{!--							class="tp-input"--}}
{{!--							type="text"--}}
{{!--							placeholder="Введите название навыка для добавления"--}}
{{!--							aria-label="Требуемые навыки и компетенции"--}}
{{!--					/>--}}
{{!--				</div>--}}
				{{{inputTags}}}
				{{{budgetField}}}
{{!--				<div class="fieldset">--}}
{{!--					<legend class="projectForm__label">Бюджет</legend>--}}
{{!--					<input--}}
{{!--							id="paymentAmount"--}}
{{!--							name="paymentAmount"--}}
{{!--							class="tp-input"--}}
{{!--							type="number"--}}
{{!--							placeholder="0"--}}
{{!--							required--}}
{{!--							aria-label="Бюджет"--}}
{{!--					/>--}}
{{!--					иконка рубля--}}
{{!--				</div>--}}
				{{#if isVacancy}}

{{!--					<div class="fieldset">--}}
						<legend class="projectForm__label">Нужен исполнитель из...</legend>
						{{{citySelect}}}
{{!--						<select class="tp-input" name="country" id="country"--}}
{{!--						aria-label="Нужен исполнитель из...">--}}
{{!--							<option selected disabled>Страна</option>--}}
{{!--							<option value="0">Разработка игр</option>--}}
{{!--							<option value="1">Разработка сайтов</option>--}}
{{!--							<option value="2">Дизайн и арт</option>--}}
{{!--							<option value="3">Программирование</option>--}}
{{!--							<option value="4">3D Графика</option>--}}
{{!--						</select>--}}

{{!--						<select--}}
{{!--								class="tp-input"--}}
{{!--								name="city"--}}
{{!--								id="city"--}}
{{!--								required--}}
{{!--								aria-label="Нужен исполнитель из..."--}}
{{!--						>--}}
{{!--							<option selected disabled value="">Город</option>--}}
{{!--							<option value="0">Разработка игр</option>--}}
{{!--							<option value="1">Разработка сайтов</option>--}}
{{!--							<option value="2">Дизайн и арт</option>--}}
{{!--							<option value="3">Программирование</option>--}}
{{!--							<option value="4">3D Графика</option>--}}
{{!--						</select>--}}
{{!--					</div>--}}
				{{/if}}
{{!--				<div class="fieldset">--}}
{{!--					<legend>Уровень фрилансера</legend>--}}

					<div>
						Выберите требуемый уровень фрилансера для выполнения
						вашего проекта.
					</div>
{{!--					<div>--}}
{{!--						<input--}}
{{!--								class="tp-input"--}}
{{!--								id="entry"--}}
{{!--								type="radio"--}}
{{!--								name="experienceLevelId"--}}
{{!--								value="1"--}}
{{!--								required--}}
{{!--						/>--}}
{{!--						<label for="entry">--}}
{{!--							Начинающий. Базовые знания и небольшой опыт работы--}}
{{!--						</label>--}}
{{!--					</div>--}}
{{!--					<div>--}}
{{!--						<input--}}
{{!--								class="tp-input"--}}
{{!--								id="intermediate"--}}
{{!--								type="radio"--}}
{{!--								name="experienceLevelId"--}}
{{!--								value="1"--}}
{{!--								required--}}
{{!--						/>--}}
{{!--						<label for="intermediate">--}}
{{!--							Продвинутый. Несколько лет профессионального опыта--}}
{{!--						</label>--}}
{{!--					</div>--}}
{{!--					<div>--}}
{{!--						<input--}}
{{!--								class="tp-input"--}}
{{!--								id="expert"--}}
{{!--								type="radio"--}}
{{!--								name="experienceLevelId"--}}
{{!--								value="2"--}}
{{!--								required--}}
{{!--						/>--}}
{{!--						<label for="expert">--}}
{{!--							Эксперт. Многолетний опыт работы в сложных проектах--}}
{{!--						</label>--}}
{{!--					</div>--}}
{{!--				</div>--}}
				{{{levelRadioGroup}}}
				{{!--					<div>--}}
				{{!--						<div>Способ оплаты</div>--}}
				{{!--						<div>Прямая оплата Исполнитлю на его кашелек/счет</div>--}}
				{{!--					</div>--}}
				<input type="submit" value="Опубликовать проект"/>
			</form>
		</div>
	</div>
</div>
