<div class="tp-container tp-centered-container" id="{{_id}}">
	<div class="tp-row ">
		<div class="tp-col-8 card">
			<h1>{{title}}</h1>
			<form method="post" id="projectForm" autocomplete="off">
				{{{_jobTypeRadio}}}
				{{{textField}}}
				{{{descriptionField}}}
				{{{specialitySelect}}}
				{{{inputTags}}}
				{{{budgetField}}}

{{!--				{{#if isVacancy}}--}}
					{{{citySelect}}}
{{!--				{{/if}}--}}

				{{{levelRadioGroup}}}
				{{{submitBtn}}}
			</form>
		</div>
	</div>
</div>
