<div id="{{_id}}" class="job-item">
	<a class="job-item__title" href="/jobs/{{id}}">{{job.title}}</a>
	<div class="manage-buttons">
{{!--		<a href="/jobs/{{id}}/edit">Редактировать</a>--}}
{{!--		<button class="delete-job-action manage-btn" data-id="{{id}}">Удалить</button>--}}
	</div>
</div>
