<div id="{{_id}}" class="job-item">
	<div class="contract-item__raw">
		<div class="contract-item_title">
			<a class="job-item__title" href="/my-contracts/{{id}}">{{title}}</a>
			{{{badge}}}
		</div>
		<span>{{paymentAmount}}</span>
	</div>
	<div class="job-item__small contract-item__raw">
		<span>{{fullname}}</span>
		<span>{{created}}</span>
	</div>
{{!--	<div class="manage-buttons">--}}
{{!--		<a href="/jobs/{{id}}/edit">Редактировать</a>--}}
{{!--		<button class="delete-job-action manage-btn" data-id="{{id}}">Удалить</button>--}}
{{!--	</div>--}}
</div>
