<div id="{{_id}}" class="send-proposal-form">
	<form class="" method="post" id="addProposal" autocomplete="off">
		<div class="">
			{{{budgetField}}}
			{{{timeSelect}}}
			{{{proposalField}}}
		</div>
		<div class="send-proposal-form__buttons-wrapper job-details__inner-item">
			<div class="send-proposal-form__buttons">
				{{{submitProposal}}}
				{{{cancelBtn}}}
			</div>
		</div>
	</form>
</div>
