<div id="{{_id}}" class="job-item">
	<a class="job-item__title" href="/jobs/{{id}}">{{title}}</a>
	{{#manage}}
		<div class="tp-row tp-row_content_stretch">
			{{#if_eq type 'Проект'}}
				<span class="job-small-info__project">
						<i class="fa fa-laptop" aria-hidden="true"></i>
					{{type}}
					</span>
			{{/if_eq}}
			{{#if_eq type 'Вакансия'}}
				<span class="job-small-info__vacancy">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					{{type}}
					</span>
			{{/if_eq}}
			<div class="manage-buttons">
				<a href="/jobs/{{id}}/edit">Редактировать</a>
				{{#published}}
					<button class="close-job-action manage-btn" data-id="{{id}}">Закрыть</button>
				{{else}}
					<button class="publish-job-action manage-btn" data-id="{{id}}">Опубликовать</button>
				{{/published}}
				<button class="delete-job-action manage-btn" data-id="{{id}}">Удалить</button>
			</div>
		</div>
	{{else}}
		<div class="job-item__small__info job-item__small">
			{{#if_eq type 'Проект'}}
				<span class="job-small-info__project">
					<i class="fa fa-laptop" aria-hidden="true"></i>
					{{type}}
				</span>
			{{/if_eq}}
			{{#if_eq type 'Вакансия'}}
				<span class="job-small-info__vacancy">
					<i class="fa fa-briefcase" aria-hidden="true"></i>
					{{type}}
				</span>
			{{/if_eq}}
			<span class="job-item__budget">
				 {{paymentAmount}}
			</span>
			- {{experienceLevel}} - {{created}}
		</div>
		<div class="job-item__description">
			{{description}}
		</div>
		<div class="job-item__tags">
			{{#each skills}}
				<span class="tag tag_secondary">{{this}}</span>
			{{/each}}
		</div>
		<div class="job-item__small">Откликов: {{proposals}}
			<span class="job-item__country">
				<i class="fas fa-map-marker-alt"></i>
				<span>{{country}}</span>
			</span>
		</div>
	{{/manage}}
</div>
