<div id="{{_id}}" class="grade-component">
	<div class="stars">
		{{#each range5}}
			<input type="radio" {{#if ../changing}} name="{{../name}}" {{else}} name="{{../_id}}-{{../name}}" {{/if}}  id="{{../_id}}-{{this}}" value="{{this}}" ontouchstart="ontouchstart" {{#if_eq this
																									  ../grade}}
				   checked {{/if_eq}} {{#if ../changing}}  {{else}} disabled {{/if}} {{#../required}}required{{/../required}} />
			<label class="fa fa-star stars-label-{{../size}}" for="{{../_id}}-{{this}}"></label>
		{{/each}}

		<input type="radio" name="stars" id="star-reset"/>
	</div>
</div>
