<div>
	<div class="tp-container tp-centered-container ">
		<div class="tp-row tp-columns-row">
			<div class="tp-col-2 tp-border-wrapper">
				<ul class="tp-menu-navigate" role="menubar">
					<li>
						<a href="#" target="_self" role="menuitem">
							Основное
						</a>
					</li>
					<li>
						<a href="#" target="_self" role="menuitem">
							Уведомления
						</a>
					</li>
					<li>
						<a href="#" target="_self" role="menuitem">
							Пароль и безопасность
						</a>
					</li>
				</ul>
			</div>
			<div class="tp-col-10 tp-border-wrapper card">
				<div id="{{data.children.myAccount}}"></div>
				{{#if data.isClientMode}}
					<div id="{{data.children.companyComponent}}"></div>
				{{else}}
					<div id="{{data.children.freelancerSettingsComponent}}"></div>
				{{/if}}
				<div id="{{data.children.notificationSettingsComponent}}"></div>
				<div id="{{data.children.changePasswordComponent}}"></div>
				<div id="{{data.children.authHistoryComponent}}"></div>
				<div id="{{data.children.securityQuestionComponent}}"></div>

			</div>
		</div>
	</div>
</div>
