<div id="{{ props.id }}">
	<div class="tp-container">
		<div class="tp-row tp-underline">
			<h2>
				Контакты
			</h2>
		</div>
		<div class="tp-row tp-align-items-start">
			<div class="tp-col-12">
				<div class="tp-container">
					<form
							class="tp-form"
							id="contactsForm"
							method="post"
							autocomplete="off"
					>
						<div class="tp-col-8 tp-col_padding_0">

							{{{data.citySelect}}}

						</div>
						<div class="tp-col-8 tp-col_padding_0">

							{{{ data.addressField }}}

							<span class="tp-label-note">Мы серьезно относимся к соблюдению конфиденциальности.
												Только ваш город и страна будут доступны клиентам</span>
						</div>

						<div class="tp-col-8 tp-col_padding_0">

							{{{ data.phoneField }}}

						</div>

						<div class="tp-col-8 tp-col_padding_0">

							{{{data.submitBtn}}}

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="tp-container">
		<div class="tp-row tp-underline">
			<h2>
				Мой профиль
			</h2>
		</div>
		<div class="tp-row tp-align-items-start">
			<div class="tp-col-6">
				<form
						class="tp-form"
						id="profileSettingsForm"
						method="post"
						autocomplete="off"
						novalidate="novalidate"
				>

					{{{ data.levelRadioGroup }}}

					{{{ data.submitBtn }}}

				</form>
			</div>
		</div>
	</div>

	<div class="tp-container">
		<div class="tp-row tp-underline">
			<h2>
				Выбор специализации и категорий услуг
			</h2>
			<a class="tp-row-right-part" href="#" target="_self">Изменить</a>
		</div>
	</div>
	<div class="tp-col-12">
		{{#each data.skills}}
			<label class="field-group__label">{{section}}</label>
			<div class="tp-row tp-row-float-left">
				{{#each categories}}
					{{{ this }}}
				{{/each}}
			</div>
		{{/each}}
	</div>
</div>
