<div id="{{_id}}">

	<div class="verview-settings card">
		{{{ overviewHeader }}}
		<div class="tp-container">
			<form
					class="tp-form"
					id="descriptionForm"
					method="post"
					autocomplete="off"
			>
				{{{ descriptionField }}}
				{{{ inputTags }}}
				<div class="contact-setting__submit">
					{{{ submitBtn }}}
				</div>
			</form>
		</div>
	</div>


	<div class="contacts-settings card">
		{{{ contactsSettingsHeader }}}
				<div class="tp-container">
					<form
						class="tp-form"
						id="contactsForm"
						method="post"
						autocomplete="off"
					>
							{{{ citySelect }}}
							{{{ addressField }}}
							{{{ phoneField }}}
							<div class="contact-setting__submit">
								{{{ submitBtn }}}
							</div>
					</form>
				</div>
	</div>

	<div class="experience-settings card">
		{{{ experienceSettingsHeader }}}
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-6 tp-col_padding_0">
				<form
					class="tp-form"
					id="profileSettingsForm"
					method="post"
					autocomplete="off"
					novalidate="novalidate"
				>
					{{{ levelRadioGroup }}}
					<div class="experience-settings__submit">
						{{{ submitBtn }}}
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="specialization-settings card">
		{{{ specializationSettingsHeader }}}
		<div class="tp-container">
			<form
				class="tp-form"
				id="specialityForm"
				method="post"
				autocomplete="off"
			>
				{{{ specialitySelect }}}
				<div class="contact-setting__submit">
					{{{ submitBtn }}}
				</div>
			</form>
		</div>
	</div>
</div>
