<div id="{{_id}}">
	<div class="contacts-settings card">
		{{{ contactsSettingsHeader }}}
<!--		<div class="tp-row tp-row_content_stretch">-->
<!--			<div class="tp-col-12">-->
				<div class="tp-container">
					<form
						class="tp-form"
						id="contactsForm"
						method="post"
						autocomplete="off"
					>
							{{{ citySelect }}}
							{{{ addressField }}}
							{{{ phoneField }}}
							{{{ submitBtn }}}
					</form>
				</div>
<!--			</div>-->
<!--		</div>-->
	</div>

	<div class="experience-settings card">
		{{{ experienceSettingsHeader }}}
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-6 tp-col_padding_0">
				<form
					class="tp-form"
					id="profileSettingsForm"
					method="post"
					autocomplete="off"
					novalidate="novalidate"
				>
					{{{ levelRadioGroup }}}
					{{{ submitBtn }}}
				</form>
			</div>
		</div>
	</div>

	<div class="specialization-settings card">
		{{{ specializationSettingsHeader }}}
			{{#each skills}}
				<label class="field-group__label">{{section}}</label>
				<div class="tp-row tp-row_content_left">
					{{#each categories}}
						{{{ this }}}
					{{/each}}
				</div>
			{{/each}}
	</div>
</div>
