<div id="{{_id}}" class="history-item">
	<div class="contract-item__raw">
		<div class="job-item__title">{{jobTitle}}</div>
	</div>
	<div class="contract-item">
		<div>{{{grade}}}</div>
		<div class="history-item__comment">{{clientComment}}</div>
		<div>{{companyName}}</div>
	</div>
</div>
