<div id="{{_id}}" class="avatar-block">
	<div class="avatar-block__image-wrapper">
		<img
			id="avatar-img"
			class="{{classes}}"
			alt="{{imgAlt}}"
			src="{{imgUrl}}"
			width="{{imgWidth}}"
			height="{{imgHeight}}"
		/>
	</div>
	{{#if changing}}
		<div class="avatar-block__change-link-wrapper">
			{{{ changeBtn }}}
		</div>
		{{{ avatarChangeModal }}}
	{{/if}}

</div>
