<select id="{{props.id}}" name="{{props.name}}" class="{{props.className}}">
	{{#each props.items}}
		<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
	{{/each}}
</select>
