<div id="{{_id}}" class="proposal-item">
{{!--	<a class="proposal-item__title" href="/proposals/{{id}}">Proposal #{{id}}</a>--}}
{{!--	<div class="job-item__small__info job-item__small">--}}
{{!--		{{paymentAmount}} ₽--}}
{{!--		- статус: {{statusManager}} - {{date}}</div>--}}
	<a class="link" href="/proposals/{{id}}">
		{{#isClient}}
			От: {{freelancerName}} Для: "{{jobTitle}}"
		{{else}}
			{{jobTitle}}
		{{/isClient}}
	</a>
	<span class="proposal-item__date">{{date}}</span>
</div>
