<div id="{{data._id}}">
	{{#if props.label}}
		<label for="{{data._id}}-input" class="label">{{props.label}}</label>
	{{/if}}
	<select id="{{data._id}}-input" name="{{props.name}}" class="select {{props.className}}" {{props.attributes}}>
		<option disabled value="" selected>Выберите</option>
		{{#each props.items}}
			<option value="{{value}}"
					{{#selected}} selected="selected" {{/selected}}
					{{#disabled}} disabled {{/disabled}}
			>{{label}}</option>
		{{/each}}
	</select>
</div>
