<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		{{#isMyJob}}
			<a href="/my-job-postings" style="margin-top: 20px;">Назад к размещениям</a>
		{{/isMyJob}}
		<div class="tp-row  card card_no-padding">
			<div class="tp-col-9">
				<div class="job-details job-details_clear-margins">
					<h2 class="job-details__inner-item job-details_title">{{job.title}}</h2>
					<div class="job-details__inner-item">
						<div class="">
							<a class="job-details__category" href="/search/jobs?category={{job.specialityId}}
							">{{job.speciality}}</a>
						</div>
						<small>{{job.created}}</small>
					</div>
					<div class="job-details__inner-item job-details__description">{{{job.description}}}</div>
					{{{ jobFeatures }}}
					<div class="job-details__inner-item job-item__tags">
						{{#each job.skills}}
							<span class="tag">{{this}}</span>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="tp-col-3 tp-col_padding_0 job-details-sidebar job-details-sidebar_desktop">
				<div class="buttons job-details__inner-item buttons_desktop">
					{{#loggedIn}}
						{{#isClient}}
							{{#isMyJob}}
								<a href="/jobs/{{job.id}}/edit" class="btn btn_primary btn-m">Редактировать</a>
								{{#job.published}}
									<button class="close-job-action btn btn_secondary btn-m" data-id="{{job.id}}">Снять с публикации</button>
								{{else}}
									<button class="publish-job-action btn btn_secondary btn-m" data-id="{{job.id}}">Опубликовать</button>
								{{/job.published}}
							{{else}}
								<a href="/new-job" class="btn btn_primary btn-m">Разместить заказ</a>
							{{/isMyJob}}
						{{else}}
							{{{submitProposal}}}
							{{{saveBtn}}}
						{{/isClient}}
					{{else}}
						<a href="/login" class="btn btn_primary btn-m">Войти</a>
					{{/loggedIn}}
				</div>
				<div class="job-details__inner-item">
					<strong>О заказчике</strong>
					<ul class="about-client">
						<li>
							<strong>{{job.hireManagerId}}</strong>
							<small>{{job.hireManagerId}}</small>
						</li>
						<li>
							<strong></strong>
							<small>Отзывы фрилансеров</small>
						</li>
						<li>
							<strong></strong>
							<small>Зарегистрирован</small>
						</li>
					</ul>
				</div>
			</div>
			<div class="job-details-sidebar job-details-sidebar_mobile">
				<div></div>
				<div class="job-details__inner-item">
					<strong>О заказчике</strong>
					<ul class="about-client">
						<li>
							<strong>{{job.hireManagerId}}</strong>
							<small>{{job.hireManagerId}}</small>
						</li>
						<li>
							<strong></strong>
							<small>Отзывы фрилансеров</small>
						</li>
						<li>
							<strong></strong>
							<small>Зарегистрирован</small>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="buttons job-details__inner-item buttons_mobile">
			{{#loggedIn}}
				{{#isClient}}
					{{#isMyJob}}
						<a href="/jobs/{{job.id}}/edit" class="btn btn_primary btn-m">Редактировать</a>
					{{else}}
						<a href="/new-job" class="btn btn_primary btn-m">Разместить заказ</a>
					{{/isMyJob}}
				{{else}}
					{{{submitProposalMobile}}}
					{{{saveBtn}}}
				{{/isClient}}
			{{else}}
				<a href="/login" class="btn btn_primary btn-m">Войти</a>
			{{/loggedIn}}
		</div>


		{{{sendProposalFormModal}}}

		{{#isMyJob}}
			<div class="tp-row card card_no-padding">
				<div class="tp-col-12">
					{{!--					<div class="job-details ">--}}
					<h2 class="job-details__inner-item job-details_title">Отклики</h2>
					<div class="job-details__inner-item job-proposals">
						{{#proposals.length}}
						{{else}}
							<div class="job-proposal">
								Здесь будут отклики к данной работе
							</div>
						{{/proposals.length}}
						{{#each proposals}}
							<div class="job-proposal">
								<a class="link" href="/proposals/{{Response.id}}">Отклик №{{Response.id}} от фрилансера {{firstName}} {{lastName}}</a>
{{!--								<div>Это кавер леттер...</div>--}}
{{!--								<div>--}}
{{!--									<span></span>--}}
{{!--								</div>--}}
								<div>{{Response.date}}</div>
							</div>
						{{/each}}
					</div>
					{{!--						<div class="job-details__inner-item">--}}


					{{!--						</div>--}}
					{{!--						<div class="job-details__inner-item">--}}

					{{!--						</div>--}}
					{{!--					</div>--}}
				</div>
				{{!--				<div class="tp-col-3"></div>--}}
			</div>
		{{/isMyJob}}
	</div>
</div>
