<div id="{{id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row card">
			{{#each freelancers}}
				<div class="tp-col-12 ">
					<a href="/freelancers/{{id}}">{{id}}</a>
					{{overview}}
					{{registrationDate}}
					{{country}}
					{{city}}
				</div>
			{{/each}}
		</div>
	</div>
</div>
