<div id="{{props.id}}">
	<div class="tp-container">
		<div class="tp-row tp-row_content_left tp-underline">
			<h2>
				О компании
			</h2>
		</div>
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-12">
				<div class="tp-container tp-container_align_center">
					<img
							class="tp-avatar tp-avatar-content-below"
							alt="..."
							src="{{data.avatar}}"
							width="120"
							height="120"
					/>
					<a href="#" target="_self">Изменить лого</a>
				</div>
				<div class="tp-container">
					<form
							class="tp-form"
							id="companySettingsForm"
							method="post"
							autocomplete="off"
					>

						{{{ data.titleField }}}
						{{{ data.siteField }}}
						{{{ data.headerField }}}
						{{{ data.descriptionField }}}

						{{{ data.submitBtn }}}
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="tp-container">
		<div class="tp-row tp-row_content_left tp-underline">
			<h3>
				Контакты компании
			</h3>
		</div>
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-12">
				<div class="tp-container">
					<form
							class="tp-form"
							id="companyContactsForm"
							method="post"
							autocomplete="off"
					>
						{{{ data.ownerField }}}
						{{{ data.citySelect }}}
						{{{ data.addressField }}}
						{{{ data.phoneField }}}

						{{{ data.submitBtn }}}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
