<div id="{{_id}}">
	<div class="tp-container card">
		{{{ mainSettingsHeader }}}
		<div class="tp-container">
			<form
				class="tp-form"
				id="companySettingsForm"
				method="post"
				autocomplete="off"
			>
				{{{ titleField }}}
				{{{ siteField }}}
				{{{ headerField }}}
				{{{ descriptionField }}}

				{{{ submitBtn }}}
			</form>
		</div>
	</div>
	<div class="tp-container card">
		{{{ contactsSettingsHeader }}}
		<div class="tp-container">
			<form
				class="tp-form"
				id="companyContactsForm"
				method="post"
				autocomplete="off"
			>
				{{{ citySelect }}}
				{{{ addressField }}}
				{{{ phoneField }}}

				{{{ submitBtn }}}
			</form>
		</div>
	</div>
</div>
