<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row">
			<div class="tp-col-12">
				<div class="page-header page-title">
					Мои отклики
				</div>
				{{!--				<div class="tabs">--}}
				{{!--					<ul class="nav tabs__nav">--}}
				{{!--						<li class="tabs__nav_element active">Текущие</li>--}}
				{{!--						<li class="tabs__nav_element">Архив</li>--}}
				{{!--					</ul>--}}
				{{!--					<div class="tabs__content">--}}
				{{!--						<div class="tp-container card">--}}
				{{!--							{{{ sentToMeTitle }}}--}}
				{{!--							<div class="tp-container">--}}
				{{!--								{{#each proposals}}--}}
				{{!--									<div>--}}
				{{!--										{{{this}}}--}}
				{{!--									</div>--}}
				{{!--								{{/each}}--}}
				{{!--							</div>--}}
				{{!--						</div>--}}

				{{#showActiveProposals}}
					<div class="tp-container card">
						{{{ activeTitle }}}
						<div class="tp-container">
							{{#each activeProposals}}
								<div>
									{{{this}}}
								</div>
							{{/each}}
						</div>
					</div>
				{{/showActiveProposals}}

				{{#showSentProposals}}
					<div class="tp-container card">
						{{{ myProposalTitle }}}
						<div class="tp-container">
							{{#each sentProposals}}
								<div>
									{{{this}}}
								</div>
							{{/each}}
						</div>
					</div>
				{{/showSentProposals}}

				{{#showClosedProposals}}
					<div class="tp-container card">
						{{{ closedProposalTitle }}}
						<div class="tp-container">
							{{#each closedProposals}}
								<div>
									{{{this}}}
								</div>
							{{/each}}
						</div>
					</div>
				{{/showClosedProposals}}

				{{!--					</div>--}}
				{{!--				</div>--}}
			</div>
		</div>
	</div>
</div>
