<div class="tp-container" id="{{props.id}}">
	<div class="tp-row tp-underline">
		<h2>
			Пароль
		</h2>
	</div>
	<div class="tp-row tp-align-items-start">
		<div class="tp-col-6">
{{!--			<div class="tp-container">--}}
{{!--				<div class="tp-row tp-row-float-left">--}}
{{!--					<h4>Обновлен год назад</h4>--}}
{{!--				</div>--}}
{{!--			</div>--}}
			<div class="tp-container" id="passwordChangeBlock">
				<form
						class="tp-form"
						id="passwordChangeForm"
						method="post"
						autocomplete="off"
				>
					{{{ data.currentPasswordField }}}
					{{{ data.newPasswordField }}}
					{{{ data.newPasswordConfirmField }}}
					{{{ data.submitBtn }}}
				</form>
			</div>
		</div>
	</div>
</div>
