<div class="tp-container card" id="{{_id}}">
	{{{cardHeader}}}
	<div class="tp-row tp-row_content_left">
		<div class="tp-col-6 tp-col_padding_0 password-settings">
			<div class="tp-container" id="passwordChangeBlock">
				<form
					class="tp-form"
					id="passwordChangeForm"
					method="post"
					autocomplete="off"
				>
					{{{ currentPasswordField }}}
					{{{ newPasswordField }}}
					{{{ newPasswordConfirmField }}}
					<div class="password-settings__submit">
						{{{ submitBtn }}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
