<div class="login-page" id="{{_id}}">
	<main class="tp-container tp-centered-container">
		<div class="login-block card">
			<h1 class="text-center">Создайте свой бесплатный аккаунт</h1>
			<form
					class="tp-form"
					id="signupForm"
					method="post"
					autocomplete="off"
					novalidate="novalidate"
			>
				<input autocomplete="false" name="hidden" type="text" style="display:none;">

				{{{firstNameField}}}

				{{{secondNameField}}}

				{{{emailField}}}

				{{{passwordField}}}

				{{{rolesRadio}}}
				{{{submitBtn}}}
			</form>
		</div>
	</main>
</div>
