<nav id="{{_id}}" class="navbar">
	<div class="navbar__header">
		<a href="#" class="navbar__toggler">
			<i class="fa fa-bars"></i>
		</a>
		<a class="navbar__brand" href="/">FWORK</a>
		<div class="navbar__header-search">
		</div>
	</div>

	<div class="navbar__collapse">
		<ul class="navbar__nav" role="menubar">
			<li class="nav__item">
				<form method="GET" role="search" id="navbar-search-form">
					<div class="navbar__search-input">
						<input id='navbar-search' type="search" placeholder="Поиск">
						<button type="submit"><i class="fas fa-search"></i></button>
					</div>
				</form>
			</li>
		</ul>
		<ul class="navbar__nav navbar__nav_right" role="menubar">
			{{#if loggedIn}}
				{{#isClient}}
					<li class="nav__item">
						<a href="/search?type=freelancers&desc=1" target="_self" role="menuitem" class="nav__link">
							Фрилансеры
						</a>
					</li>
				{{else}}
					{{{_dropdown}}}
				{{/isClient}}
			{{else}}
				<li class="nav__item">
					<a href="/search?type=freelancers&desc=1" target="_self" role="menuitem" class="nav__link">
						Фрилансеры
					</a>
				</li>
				{{{_dropdown}}}
			{{/if}}
{{!--			{{#if loggedIn}}--}}
{{!--				{{{profileDropdown}}}--}}
{{!--			{{/if}}--}}
		</ul>
		{{{userMenu}}}
	</div>
</nav>
