<div class="tp-container" id="{{props.id}}">
	<div class="tp-row tp-underline">
		<h2>
			История авторизации
		</h2>
	</div>
	<div class="tp-row tp-align-items-start">
		<div class="tp-col-12">
			<div class="tp-container">
				<div class="tp-table">
					<div class="tp-table-caption">
						История авторизации
					</div>
					<div class="tp-table-row">
						<span class="tp-table-th">#</span>
						<span class="tp-table-th"
						>Дата-время (МСК)</span
						>
						<span class="tp-table-th">IP-адрес</span>
						<span class="tp-table-th">Устройство</span>
						<span class="tp-table-th">Приложение</span>
					</div>
					<div class="tp-table-row">
						{{#each props.history}}
							<span class="tp-table-cell">
								{{ id }}
							</span>
							<span class="tp-table-cell">
								{{ datetime }}
							</span>
							<span class="tp-table-cell">
								{{ ip }}
							</span>
							<span class="tp-table-cell">
								{{ device }}
							</span>
							<span class="tp-table-cell">
								{{ app }}
							</span>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
