<div class="tp-row tp-row_content_left">
	<div class="tp-col-8 ">
		<div class="tp-container card">
			<div class="tp-container">
				<form class="" method="post" id="newContract" autocomplete="off">
<!--					<div class="job-details__inner-item">-->
<!--						<div class="label label-light">Контракт к работе:</div>-->
<!--						<div>-->
<!--							<a href="/jobs/id" class="link job-item__title">Название работы</a>-->
<!--							<div>-->
<!--								<input name="closeJob" type="checkbox" id="close-job"/>-->
<!--								<label for="close-job">Закрыть публикацию о работе, если фрилансер примет это-->
<!--									предложение</label>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
					<div class="job-details__inner-item">
						{{{budgetField}}}
						{{{timeSelect}}}
					</div>
					<div class="buttons-group job-details__inner-item proposal__action-buttons">
						{{{submitOffer}}}
						{{{cancelBtn}}}
					</div>
				</form>
			</div>
		</div>

		{{#each children}}
			{{{this}}}
		{{/each}}
	</div>
	{{{afterSubmitInfoModal}}}
</div>
