<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-12">
				<div class="page-header page-title">
					Поиск
				</div>
				<div class="tabs">
					<ul class="nav tabs__nav">
						<li class="tabs__nav_element {{#if_eq searchType 'jobs'}}active{{/if_eq}}"><a
								href="/search?type=jobs">Работы</a></li>
						<li class="tabs__nav_element {{#if_eq searchType 'freelancers'}}active{{/if_eq}}"><a
								href="/search?type=freelancers">Фрилансеры</a></li>
					</ul>
				</div>
			</div>
			<div class="tp-col-9">
				<div class="search-page card card_no-padding">
					<form id="searchForm" method="get" class="search-page__input">
						<div class="search-input__input">
							{{{ searchInput }}}
						</div>
						<div class="search-input__submit">
							{{{searchBtn}}}
						</div>
					</form>
					<div class="search-page__results">
						<div class="search-results__items">
							{{#loading}}
								<div class="search-not-found">
									<div>
										<div class="fa-3x">
											<i class="far fa-snowflake fa-spin"></i>
										</div>
										<div class="search-not-found__text">
											Загрузка...
										</div>
									</div>
								</div>
							{{else}}
								{{#if searchResults.length}}
									{{#each searchResults}}
										{{{this}}}
									{{/each}}
								{{else}}
									<div class="search-not-found">
										<div>
											<img src="../../../assets/img/icons8-nothing-found-96.png">
											<div class="search-not-found__text">
												По Вашему запросу ничего не найдено.
											</div>
											<div>Попробуйте ввести другие слова или настройте фильтр</div>
										</div>
									</div>
								{{/if}}
							{{/loading}}
						</div>
					</div>
				</div>
			</div>
			<div class="tp-col-3 filter-column">
				<h2>Фильтр</h2>
				<div class="filter-block">
					{{#if_eq searchType 'jobs'}}
						<form id="searchFilter">
							{{{jobTypeRadio}}}
							{{{specialitySelect}}}
							{{{levelRadioGroup}}}
							{{{budgetField}}}
							{{{citySelect}}}
							{{{proposalsNum}}}
						</form>
					{{/if_eq}}
					{{#if_eq searchType 'freelancers'}}
						<form id="searchFilter">
							{{{levelRadioGroup}}}
							{{{citySelect}}}
						</form>
					{{/if_eq}}
				</div>
			</div>
		</div>
	</div>
</div>
