<div class="tp-container tp-centered-container">
	<div class="tp-row">
		<div class="tp-col-9 tp-col_padding_0">
			<div class="profile-info card">
				<div class="tp-row tp-row_content_stretch">
					<div class="profile-info__avatar">
						<img class="tp-avatar" alt="..." src="{{avatarUrl}}" width="120" height="120">
					</div>
					<div class="profile-info__main-info">
						<span class="main-info__name">
							{{ firstName }} {{ lastName }}
						</span>
						<span class="main-info__region">
							<span class="profile-region__city">{{ city }}</span>
							 - <span class="profile-region__time">2:43</span>
							, <small class="profile-region__description">местное время</small>
						</span>
					</div>
					<div class="profile-info__rating">
						<strong>{{ rating }}</strong>
						<small>Рейтинг</small>
					</div>
				</div>

				<div class="profile-info__description">
					<h2 class="profile-description__title">
						{{ tagline }}
					</h2>
					<p class="profile-description__text">
						{{ description }}
					</p>
				</div>
				<div class="profile-info__features">
					{{{ profileInfoFeatures }}}
				</div>
			</div>

			<div class="profile-history card">

				{{{ historyCardHeader }}}
				<div class="profile-history__items">
					{{#each profileHistory}}
						{{{ this }}}
					{{/each}}
				</div>
				<div class="profile-history__footer">
					{{{ portfolioCardFooter }}}
				</div>
			</div>


			<div class="profile-portfolio card">
				{{{ portfolioCardHeader }}}
				{{{ portfolioCardGroup }}}
				{{{ portfolioPaginator }}}
			</div>

			<div class="profile-skills card">
				{{{ skillsCardHeader }}}
				<div class="profile-skills__row tp-row tp-row_content_left tp-row_align_center">
					{{#each skills}}
						<span class="tag">{{this}}</span>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="tp-col-3 profile-sidebar">
			<div class="profile-sidebar__buttons">
				{{{ projectSuggestBtn }}}
				{{{ saveBtn }}}
			</div>
			<div class="profile-sidebar__profile-link">
				{{{ profileLinkField }}}
				<a class="profile-link__copy" href="#">
					Копиоровать ссылку
				</a>
			</div>
			<div class="profile-sidebar__languages">
				<span class="sidebar-languages__title">
					Языки
				</span>
				<div class="sidebar-languages__table">
					{{#each languages}}
						<div class="tp-row">
							<div class="tp-col-6 tp-col_padding_0">
								<span class="languages-table__language">{{ language }}</span>
							</div>
							<div class="tp-col-6 tp-col_padding_0">
								<span class="languages-table__type">{{ type }}</span>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>

	</div>
</div>
