<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row">
			<div class="tp-col-9 tp-col_padding_0">
				<div class="profile-info card">
					<div class="profile-info__main tp-row tp-row_content_stretch">
						<div class="profile-info__avatar">
							{{{ profileAvatar }}}
						</div>
						<div class="profile-info__main-info">
							<span class="main-info__name">
								{{ firstName }} {{ secondName }}
							</span>
							<div class="main-info__info-columns-wrapper">
								<div class="main-info__labels-column">
									<span class="labels-column__label">Город:</span>
									<span class="labels-column__label">Уровень опыта:</span>
									<span class="labels-column__label">Специализация:</span>
								</div>
								<div class="main-info__info-column">
									<span class="info-column__value">{{ cityString }}</span>
									<strong class="info-column__value">{{ experienceLevel }}</strong>
									<strong class="info-column__value">{{ speciality }}</strong>
								</div>
							</div>
						</div>
						{{!--						<div class="profile-info__selected">--}}
						{{!--							{{{ selectedCount }}}--}}
						{{!--						</div>--}}

					</div>

					<span class="main-info__item main-info__item_mobile">
						<span class="profile-region__city">Город: {{ cityString }}</span>
					</span>

					<div class="profile-info__description">
						<h2 class="profile-description__title">
							Описание:
						</h2>
						<p class="profile-description__text">{{#if freelancer.overview}}{{freelancer.overview}}{{else}}
							Пока тут ничего нет{{/if}}
						</p>
					</div>
				</div>

				{{!--				<div class="profile-sidebar profile-sidebar_mobile">--}}
				{{!--					{{#isClient}}--}}
				{{!--						<div class="profile-sidebar__buttons">--}}
				{{!--							{{{ projectSuggestBtn }}}--}}
				{{!--							{{{ saveBtn }}}--}}
				{{!--						</div>--}}
				{{!--					{{/isClient}}--}}
				{{!--					<div class="profile-sidebar__profile-link">--}}
				{{!--						{{{ profileLinkField }}}--}}
				{{!--						<button class="profile-link__copy">--}}
				{{!--							Копировать ссылку--}}
				{{!--						</button>--}}
				{{!--					</div>--}}
				{{!--				</div>--}}

				{{#historyEnabled}}
					<div class="profile-history card">
						{{{ historyCardHeader }}}
						<div class="profile-history__items">
							{{#each historyHtmlArray}}
								{{{ this }}}
							{{/each}}
						</div>
						<div class="profile-history__footer">
							{{{ portfolioCardFooter }}}
						</div>
					</div>
				{{/historyEnabled}}

				{{!--			<div class="profile-portfolio card">--}}
				{{!--				{{{ portfolioCardHeader }}}--}}
				{{!--				{{{ portfolioCardGroup }}}--}}
				{{!--				{{{ portfolioPaginator }}}--}}
				{{!--			</div>--}}

				{{# if skillTags }}
					<div class="profile-skills card">
						{{{ skillsCardHeader }}}
						<div class="profile-skills__row tp-row tp-row_content_left tp-row_align_center">
							{{# if skillTags }}
								{{#each skillTags}}
									{{{ this }}}
								{{/each}}
							{{else}}
								Пока нет навыков
							{{/if}}
						</div>
						{{{ skillsChangeModal }}}
					</div>
				{{/if}}
			</div>
			<div class="tp-col-3 profile-sidebar profile-sidebar_desktop">
				<div class="profile-sidebar__profile-link">
					{{{ profileLinkField }}}
					<button class="profile-link__copy">
						Копировать ссылку
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
