<div class="tp-row">
	<div class="tp-col-9">
		<div class="tp-container card">
			{{{ aboutProposalTitle }}}
			<div class="tp-container">
				<div class="job-details__inner-item">
					<a href="/jobs/{{job.id}}" class="link job-item__title">{{job.title}}</a>
					{{{jobFeatures}}}
				</div>
				{{#isClient}}
					<div class="job-details__inner-item proposal__freelancer-block">
						{{{freelancerAvatar}}}
						<div class="proposal__freelancer-block__info">
							<a href="/freelancers/{{freelancer.id}}" class="link job-item__title">{{freelancer.firstName}} {{freelancer.secondName}}</a>
							<span>{{freelancer.tagline}}</span>
						</div>
					</div>
				{{/isClient}}
				<div class="job-details__inner-item">
					<div class="job-item__title">
						Предложенные {{#isClient}}фрилансером{{else}}мной{{/isClient}} условия
					</div>
					<div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Бюджет
							</div>
							<div>{{proposal.paymentAmount}}</div>
						</div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Срок
							</div>
							<div>{{proposal.timeEstimation}}</div>
						</div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Сообщение
							</div>
							<div>
								{{proposal.coverLetter}}
							</div>
						</div>
					</div>
				</div>
				<div class="buttons-group job-details__inner-item proposal__action-buttons">
					{{#isClient}}
						{{#actionMakeCandidateEnabled}}
							{{{makeCandidateProposal}}}
							{{{rejectProposal}}}
						{{/actionMakeCandidateEnabled}}
						{{#actionNewContractEnabled}}
							{{{makeOffer}}}
						{{/actionNewContractEnabled}}
					{{else}}
						{{#actionCancelEnabled}}
							{{{withdrawProposal}}}
						{{/actionCancelEnabled}}
					{{/isClient}}
				</div>
			</div>
		</div>

		{{#isCandidate}}
			<div class="tp-container card fwork-chat-wrapper">
				{{{ messagesTitle }}}
				<div class="tp-container">
					<div class="fwork-chat">
						{{{chat}}}
					</div>
				</div>
			</div>
		{{/isCandidate}}
	</div>
	<div class="tp-col-3">
		<div class="card card_no-padding">
			<div class="contract-status__raw {{#statusCreated}}contract-status__raw_active{{/statusCreated}}">
				{{#statusCreated}}<i class="status-icon fas fa-check"></i>{{/statusCreated}}
				<div class="status-title">Создание отклика</div>
			</div>
			<div class="contract-status__raw {{#statusCandidate}}contract-status__raw_active{{/statusCandidate}}">
				{{#statusCandidate}}<i class="status-icon fas fa-check"></i>{{/statusCandidate}}
				<div class="status-title">Фрилансер -- кандидат</div>
				<p class="status-description">Согласование условий</p>
			</div>
			<div class="contract-status__raw {{#statusSentContract}}contract-status__raw_active{{/statusSentContract}}">
				{{#statusSentContract}}<i class="status-icon fas fa-check"></i>{{/statusSentContract}}
				<div class="status-title">Предложение контракта</div>
				<p class="status-description"></p>
			</div>
		</div>
	</div>
</div>
