<div class="tp-row">
	<div class="tp-col-9">
{{!--		<div class="page-header">--}}
{{!--			Отклик--}}
{{!--		</div>--}}
		<div class="tp-container card">
			{{{ aboutProposalTitle }}}
			<div class="tp-container">
				<div class="job-details__inner-item">
					<a href="/jobs/{{job.id}}" class="link job-item__title">{{job.title}}</a>
					{{{jobFeatures}}}
				</div>
				{{#isClient}}
					<div class="job-details__inner-item proposal__freelancer-block">
						{{{freelancerAvatar}}}
						<div>
							<a href="/freelancers/{{freelancer.id}}" class="link job-item__title">{{freelancer.firstName}} {{freelancer.secondName}}</a>
							<span>{{freelancer.tagline}}</span>
						</div>
					</div>
				{{/isClient}}
				<div class="job-details__inner-item">
					<div class="job-item__title">
						Предложенные {{#isClient}}фрилансером{{else}}мной{{/isClient}} условия
					</div>
					<div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Бюджет
							</div>
							<div>{{proposal.paymentAmount}}</div>
						</div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Срок
							</div>
							<div>{{proposal.timeEstimation}}</div>
						</div>
						<div class="proposal-details">
							<div class="proposal-details__key">
								Сообщение
							</div>
							<div>
								{{proposal.coverLetter}}
							</div>
						</div>
					</div>
				</div>
				<div class="buttons-group job-details__inner-item proposal__action-buttons">
					{{#isClient}}
						{{#actionMakeCandidateEnabled}}
							{{{makeCandidateProposal}}}
							{{{rejectProposal}}}
						{{/actionMakeCandidateEnabled}}
						{{#actionNewContractEnabled}}
							{{{makeOffer}}}
							<a href="/proposals/{{params.proposalId}}/new-contract">Предложить контракт</a>
						{{/actionNewContractEnabled}}
					{{else}}
						{{#actionCancelEnabled}}
							{{{withdrawProposal}}}
							{{{archiveProposal}}}
						{{/actionCancelEnabled}}
					{{/isClient}}
				</div>
			</div>
		</div>

		{{#isCandidate}}
			<div class="tp-container card">
				{{{ messagesTitle }}}
				<div class="tp-container">
					<div class="job-details__inner-item">
						<textarea></textarea>
						<div>
							<button>Отправить</button>
						</div>
					</div>
				</div>
			</div>
		{{/isCandidate}}
	</div>
	<div class="tp-col-3">
		<div class="card card_no-padding">
			<div class="contract-status__raw contract-status__raw_active">
				<i class="status-icon fas fa-check"></i>
				<div class="status-title">Ожидание ответа клиента</div>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Отмена отклика фрилансером</div>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Отклонение отлика клиентом</div>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Согласование условий</div>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Фрилансер -- кандидат</div>
				<p class="status-description">Согласование условий</p>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Предложение контракта</div>
				<p class="status-description"></p>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Создан новый контракт</div>
			</div>
			<div class="contract-status__raw">
				<div class="status-title">Отклик закрыт</div>
			</div>
		</div>
	</div>
</div>
