<div class="tp-row tp-row_content_left">
	<div class="tp-col-12 ">
		{{#isClient}}
			{{#pendingContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ pendingOffersTitle }}}
					<div class="tp-container">
						{{#each pendingContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/pendingContractsShow}}
			{{#activeContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ activeContractsTitle }}}
					<div class="tp-container">
						{{#each activeContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/activeContractsShow}}
			{{#closedContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ closedContractsTitle }}}
					<div class="tp-container">
						{{#each closedContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/closedContractsShow}}
		{{else}}
			{{#pendingContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ offersTitle }}}
					<div class="tp-container">
						{{#each pendingContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/pendingContractsShow}}
			{{#activeContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ activeContractsTitle }}}
					<div class="tp-container">
						{{#each activeContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/activeContractsShow}}
			{{#closedContractsShow}}
				<div class="tp-container card card_no-padding">
					{{{ closedContractsTitle }}}
					<div class="tp-container">
						{{#each closedContracts}}
							{{{this}}}
						{{/each}}
					</div>
				</div>
			{{/closedContractsShow}}
		{{/isClient}}
	</div>
</div>
